/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Title */
#title{
    font-family: "İndie Flower", cursive;
    text-align: center;
    font-size: 45px;
    letter-spacing: 4px;
    margin: 50px 0;
}

/* Buttons */
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.buttons button{
    padding: 10px 25px;
    border: 1px solid gray;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.buttons button:hover{
    background-color: black;
    color: white;
}

/* Menu Area */
.menu-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-area .card{
    display: flex;
    gap: 10px;
    margin: 10px;
    max-width: 600px;
    height: 200px;
}

.menu-area .card .card-image{
    flex: 1;
}
.menu-area .card img{
    width: 200px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.menu-area .card .card-info .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-area .card .card-info .top p{
    color: green;
    font-weight: 600;
}
.menu-area .card .card-info .desc{
    font-size: 17px;
    line-height: 1.8;
}